<div style="text-align: center;">
  <h1>Editing order</h1>
</div>


<%= render 'form' %>

<div style="text-align: center;">
  <%= link_to 'Show', @order %> |
  <%= link_to 'Back', orders_path %>
</div>
